@font-face {
    font-family: 'Pluto Cond';
    src: url('PlutoCondBlack.eot');
    src: url('PlutoCondBlack.eot?#iefix') format('embedded-opentype'),
        url('PlutoCondBlack.woff2') format('woff2'),
        url('PlutoCondBlack.woff') format('woff'),
        url('PlutoCondBlack.ttf') format('truetype'),
        url('PlutoCondBlack.svg#PlutoCondBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoBold.eot');
    src: url('PlutoBold.eot?#iefix') format('embedded-opentype'),
        url('PlutoBold.woff2') format('woff2'),
        url('PlutoBold.woff') format('woff'),
        url('PlutoBold.ttf') format('truetype'),
        url('PlutoBold.svg#PlutoBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoThin.eot');
    src: url('PlutoThin.eot?#iefix') format('embedded-opentype'),
        url('PlutoThin.woff2') format('woff2'),
        url('PlutoThin.woff') format('woff'),
        url('PlutoThin.ttf') format('truetype'),
        url('PlutoThin.svg#PlutoThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoMedium.eot');
    src: url('PlutoMedium.eot?#iefix') format('embedded-opentype'),
        url('PlutoMedium.woff2') format('woff2'),
        url('PlutoMedium.woff') format('woff'),
        url('PlutoMedium.ttf') format('truetype'),
        url('PlutoMedium.svg#PlutoMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoLight.eot');
    src: url('PlutoLight.eot?#iefix') format('embedded-opentype'),
        url('PlutoLight.woff2') format('woff2'),
        url('PlutoLight.woff') format('woff'),
        url('PlutoLight.ttf') format('truetype'),
        url('PlutoLight.svg#PlutoLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

